/* App.css */
.App {
  position: relative; /* Set position to relative for z-index to work */
  display: flex;
  height: 100vh;
  margin: 0;
}

.drawing-area {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(144, 238, 144, 0.5); /* Light green with 50% opacity */
  z-index: 2; /* Set z-index to position the drawing area above the panel */
}

.dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: blue;
  border-radius: 50%;
}
